@model IEnumerable<PIA_PWEB.Models.dbModels.Paquete>

@{
    ViewData["Title"] = "Index";
}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Gestión de Paquetes</h2>
        <a asp-action="Create"><button class="btn btn-primary" id="addPackageBtn"><i class="fas fa-plus-circle"></i> Crear Paquete</button></a>
    </div>
    <table id="packagesTable" class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se generarán las filas dinámicamente con JavaScript -->
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdPaquete)</td>
                    <td>@Html.DisplayFor(modelItem => item.NombrePaquete)</td>
                    <td>$@Html.DisplayFor(modelItem => item.Precio)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td><img src="@Html.DisplayFor(modelItem => item.Imagen)" alt="Imagen de ${package.nombre}" class="img-thumbnail" width="100"></td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdPaquete"><button class="btn btn-warning btn-sm edit-package" data-id="${package.id}">Editar</button></a>
                        <a asp-action="Delete" asp-route-id="@item.IdPaquete"><button class="btn btn-danger btn-sm delete-package" data-id="${package.id}">Eliminar</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

